* {box-sizing: border-box}

/* Set height of body and the document to 100% */
body, html {
  height: 100%;
  margin: 100px;
  font-family: Arial;
}

/* Header/logo Title */
.header {
  padding: 30px ;
  text-align: center;
  background: #FFF;
  height: 200px;
  color: black;

}
/* Increase the font size of the heading */
.header h1 {
  font-size: 40px;
} 
/* image place holder */
img {
  /*background-color: #aaa;*/
  /*background-color: #aaa;*/
  width: 250px;
  height:auto;
  border-radius: 25%;
  position: centre;
  object-fit: contain;
}
.tab {
  float: left;
  position: absolute;
  left: 0px;
  top: 0px;
  border: none;
  background-color: #ffff;
  width: 150px;
  height: 1000px;
}
/* Style tab links */
.tablink {
  display: block;
  background-color: #F0F8FF;
  color: black;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 22px 16px;
  font-size: 25px;
  width: 100%;
  box-shadow: inset 0 0 0 0.01px #F0F8FF;
  -webkit-transition: ease-out 0.4s;
  -moz-transition: ease-out 0.4s;
  transition: ease-out 0.4s;
}

.tablink-group button:not(:last-child) {
  border-bottom: none; /* Prevent double borders */
}

.tablink:hover {
box-shadow: inset 150px 0 0 0 #00CED1;
 color: #FFFFFF;

}
.notransition {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
  color: black;
  display: none;
  padding: 10px 50px;
  text-align: Center;
  height: 100%;
  display: block;
}

#About Me {background-color: white;}
#Resume {background-color: white;}
#Contact {background-color: white;}
